
-- Enum for user roles
CREATE TYPE public.app_role AS ENUM ('patient', 'doctor', 'caregiver', 'admin');

-- Enum for appointment status
CREATE TYPE public.appointment_status AS ENUM ('scheduled', 'completed', 'cancelled', 'rescheduled');

-- Enum for chronic programs
CREATE TYPE public.chronic_program AS ENUM (
  'riesgo_cardiovascular',
  'diabetes',
  'hipertension',
  'enfermedad_renal',
  'enfermedad_respiratoria',
  'tiroides',
  'otro'
);

-- ============================================
-- 1. PROFILES TABLE
-- ============================================
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL UNIQUE,
  full_name TEXT NOT NULL,
  document_id TEXT,
  date_of_birth DATE,
  blood_type TEXT,
  eps TEXT,
  phone TEXT,
  program chronic_program DEFAULT 'otro',
  avatar_url TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 2. USER ROLES TABLE
-- ============================================
CREATE TABLE public.user_roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  role app_role NOT NULL,
  UNIQUE (user_id, role)
);

ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

-- Security definer function for role checks
CREATE OR REPLACE FUNCTION public.has_role(_user_id UUID, _role app_role)
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_roles
    WHERE user_id = _user_id AND role = _role
  )
$$;

-- ============================================
-- 3. CONDITIONS (diagnÃ³sticos del paciente)
-- ============================================
CREATE TABLE public.patient_conditions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  diagnosed_date DATE,
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.patient_conditions ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 4. ALLERGIES
-- ============================================
CREATE TABLE public.allergies (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  severity TEXT DEFAULT 'moderate',
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.allergies ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 5. EMERGENCY CONTACTS
-- ============================================
CREATE TABLE public.emergency_contacts (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  relationship TEXT,
  phone TEXT NOT NULL,
  is_primary BOOLEAN DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.emergency_contacts ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 6. MEDICATIONS
-- ============================================
CREATE TABLE public.medications (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  dose TEXT NOT NULL,
  frequency TEXT NOT NULL,
  times TEXT[] NOT NULL DEFAULT '{}',
  condition TEXT,
  instructions TEXT,
  active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.medications ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 7. MEDICATION LOGS (tracking de tomas)
-- ============================================
CREATE TABLE public.medication_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  medication_id UUID REFERENCES public.medications(id) ON DELETE CASCADE NOT NULL,
  scheduled_time TEXT NOT NULL,
  taken_at TIMESTAMPTZ,
  skipped BOOLEAN DEFAULT false,
  log_date DATE NOT NULL DEFAULT CURRENT_DATE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.medication_logs ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 8. APPOINTMENTS (citas mÃ©dicas)
-- ============================================
CREATE TABLE public.appointments (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  doctor_name TEXT NOT NULL,
  specialty TEXT,
  location TEXT,
  appointment_date TIMESTAMPTZ NOT NULL,
  status appointment_status DEFAULT 'scheduled',
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.appointments ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 9. LAB RESULTS
-- ============================================
CREATE TABLE public.lab_results (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  value NUMERIC,
  unit TEXT,
  normal_range TEXT,
  result_date DATE NOT NULL,
  file_url TEXT,
  notes TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.lab_results ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 10. PENDING LABS
-- ============================================
CREATE TABLE public.pending_labs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  name TEXT NOT NULL,
  due_date DATE,
  completed BOOLEAN DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.pending_labs ENABLE ROW LEVEL SECURITY;

-- ============================================
-- 11. DOCTOR-PATIENT RELATIONSHIPS
-- ============================================
CREATE TABLE public.doctor_patients (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  doctor_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  patient_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  assigned_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE (doctor_id, patient_id)
);

ALTER TABLE public.doctor_patients ENABLE ROW LEVEL SECURITY;

-- ============================================
-- RLS POLICIES
-- ============================================

-- PROFILES: users see own, doctors see their patients
CREATE POLICY "Users can view own profile" ON public.profiles FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Users can update own profile" ON public.profiles FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY "Users can insert own profile" ON public.profiles FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Doctors can view patient profiles" ON public.profiles FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- USER ROLES: users see own role, admins see all
CREATE POLICY "Users can view own roles" ON public.user_roles FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Admins can manage roles" ON public.user_roles FOR ALL USING (public.has_role(auth.uid(), 'admin'));

-- PATIENT CONDITIONS
CREATE POLICY "Users manage own conditions" ON public.patient_conditions FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient conditions" ON public.patient_conditions FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- ALLERGIES
CREATE POLICY "Users manage own allergies" ON public.allergies FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient allergies" ON public.allergies FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- EMERGENCY CONTACTS
CREATE POLICY "Users manage own contacts" ON public.emergency_contacts FOR ALL USING (auth.uid() = user_id);

-- MEDICATIONS
CREATE POLICY "Users manage own medications" ON public.medications FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient medications" ON public.medications FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- MEDICATION LOGS
CREATE POLICY "Users manage own med logs" ON public.medication_logs FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient med logs" ON public.medication_logs FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- APPOINTMENTS
CREATE POLICY "Users manage own appointments" ON public.appointments FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient appointments" ON public.appointments FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- LAB RESULTS
CREATE POLICY "Users manage own lab results" ON public.lab_results FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient labs" ON public.lab_results FOR SELECT USING (
  public.has_role(auth.uid(), 'doctor') AND user_id IN (
    SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- PENDING LABS
CREATE POLICY "Users manage own pending labs" ON public.pending_labs FOR ALL USING (auth.uid() = user_id);

-- DOCTOR-PATIENT RELATIONSHIPS
CREATE POLICY "Doctors manage own patients" ON public.doctor_patients FOR ALL USING (auth.uid() = doctor_id);
CREATE POLICY "Patients view own doctors" ON public.doctor_patients FOR SELECT USING (auth.uid() = patient_id);

-- ============================================
-- TRIGGERS for updated_at
-- ============================================
CREATE OR REPLACE FUNCTION public.update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SET search_path = public;

CREATE TRIGGER update_profiles_updated_at BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
CREATE TRIGGER update_medications_updated_at BEFORE UPDATE ON public.medications FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
CREATE TRIGGER update_appointments_updated_at BEFORE UPDATE ON public.appointments FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- ============================================
-- AUTO-CREATE PROFILE + DEFAULT ROLE ON SIGNUP
-- ============================================
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
  INSERT INTO public.profiles (user_id, full_name)
  VALUES (NEW.id, COALESCE(NEW.raw_user_meta_data->>'full_name', 'Usuario'));
  
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, 'patient');
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();
ALTER TABLE public.profiles ADD COLUMN address text;
ALTER TABLE public.profiles ADD COLUMN gender text;

-- Create avatars storage bucket
INSERT INTO storage.buckets (id, name, public) VALUES ('avatars', 'avatars', true);

-- Allow authenticated users to upload their own avatar
CREATE POLICY "Users upload own avatar"
ON storage.objects FOR INSERT
WITH CHECK (bucket_id = 'avatars' AND auth.uid()::text = (storage.foldername(name))[1]);

-- Allow authenticated users to update their own avatar
CREATE POLICY "Users update own avatar"
ON storage.objects FOR UPDATE
USING (bucket_id = 'avatars' AND auth.uid()::text = (storage.foldername(name))[1]);

-- Allow authenticated users to delete their own avatar
CREATE POLICY "Users delete own avatar"
ON storage.objects FOR DELETE
USING (bucket_id = 'avatars' AND auth.uid()::text = (storage.foldername(name))[1]);

-- Allow public read access to avatars
CREATE POLICY "Public avatar access"
ON storage.objects FOR SELECT
USING (bucket_id = 'avatars');

CREATE OR REPLACE FUNCTION public.handle_new_user()
 RETURNS trigger
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO 'public'
AS $$
DECLARE
  _role app_role;
BEGIN
  -- Read role from signup metadata, default to 'patient'
  _role := COALESCE(
    (NEW.raw_user_meta_data->>'role')::app_role,
    'patient'
  );

  INSERT INTO public.profiles (user_id, full_name)
  VALUES (NEW.id, COALESCE(NEW.raw_user_meta_data->>'full_name', 'Usuario'));
  
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, _role);
  
  RETURN NEW;
END;
$$;
ALTER TABLE public.patient_conditions ADD COLUMN is_primary boolean NOT NULL DEFAULT false;

-- Table for home visit records
CREATE TABLE public.home_visits (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  visit_date TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  visitor_name TEXT NOT NULL,
  reason TEXT,
  observations TEXT,
  vitals JSONB,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.home_visits ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own home visits"
  ON public.home_visits FOR ALL
  USING (auth.uid() = user_id);

CREATE POLICY "Doctors view patient home visits"
  ON public.home_visits FOR SELECT
  USING (
    has_role(auth.uid(), 'doctor'::app_role)
    AND user_id IN (
      SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
    )
  );

-- Table for clinical history PDF files
CREATE TABLE public.clinical_documents (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  file_name TEXT NOT NULL,
  file_url TEXT NOT NULL,
  description TEXT,
  uploaded_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.clinical_documents ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own clinical documents"
  ON public.clinical_documents FOR ALL
  USING (auth.uid() = user_id);

CREATE POLICY "Doctors view patient clinical documents"
  ON public.clinical_documents FOR SELECT
  USING (
    has_role(auth.uid(), 'doctor'::app_role)
    AND user_id IN (
      SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
    )
  );

-- Storage bucket for clinical documents
INSERT INTO storage.buckets (id, name, public) VALUES ('clinical-documents', 'clinical-documents', false);

CREATE POLICY "Users upload own clinical docs"
  ON storage.objects FOR INSERT
  WITH CHECK (bucket_id = 'clinical-documents' AND auth.uid()::text = (storage.foldername(name))[1]);

CREATE POLICY "Users view own clinical docs"
  ON storage.objects FOR SELECT
  USING (bucket_id = 'clinical-documents' AND auth.uid()::text = (storage.foldername(name))[1]);

CREATE POLICY "Users delete own clinical docs"
  ON storage.objects FOR DELETE
  USING (bucket_id = 'clinical-documents' AND auth.uid()::text = (storage.foldername(name))[1]);

CREATE POLICY "Doctors view patient clinical docs"
  ON storage.objects FOR SELECT
  USING (
    bucket_id = 'clinical-documents'
    AND has_role(auth.uid(), 'doctor'::app_role)
    AND (storage.foldername(name))[1] IN (
      SELECT patient_id::text FROM doctor_patients WHERE doctor_id = auth.uid()
    )
  );

-- Blood Pressure readings
CREATE TABLE public.blood_pressure_readings (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  systolic INTEGER NOT NULL,
  diastolic INTEGER NOT NULL,
  pulse INTEGER,
  measurement_time TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.blood_pressure_readings ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own bp readings" ON public.blood_pressure_readings FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient bp readings" ON public.blood_pressure_readings FOR SELECT USING (
  has_role(auth.uid(), 'doctor'::app_role) AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Glucose readings
CREATE TABLE public.glucose_readings (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  value NUMERIC NOT NULL,
  meal_context TEXT NOT NULL CHECK (meal_context IN ('before_meal', 'after_meal', 'fasting', 'other')),
  meal_type TEXT,
  measurement_time TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.glucose_readings ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own glucose readings" ON public.glucose_readings FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient glucose readings" ON public.glucose_readings FOR SELECT USING (
  has_role(auth.uid(), 'doctor'::app_role) AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Weight records with BMI
CREATE TABLE public.weight_records (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  weight_kg NUMERIC NOT NULL,
  height_cm NUMERIC NOT NULL,
  bmi NUMERIC GENERATED ALWAYS AS (weight_kg / ((height_cm / 100.0) * (height_cm / 100.0))) STORED,
  measurement_date DATE NOT NULL DEFAULT CURRENT_DATE,
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.weight_records ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own weight records" ON public.weight_records FOR ALL USING (auth.uid() = user_id);
CREATE POLICY "Doctors view patient weight records" ON public.weight_records FOR SELECT USING (
  has_role(auth.uid(), 'doctor'::app_role) AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Drop existing restrictive policies
DROP POLICY IF EXISTS "Users can view own profile" ON public.profiles;
DROP POLICY IF EXISTS "Users can insert own profile" ON public.profiles;
DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;
DROP POLICY IF EXISTS "Doctors can view patient profiles" ON public.profiles;

-- Recreate as PERMISSIVE
CREATE POLICY "Users can view own profile"
ON public.profiles FOR SELECT
USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own profile"
ON public.profiles FOR INSERT
WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update own profile"
ON public.profiles FOR UPDATE
USING (auth.uid() = user_id);

CREATE POLICY "Doctors can view patient profiles"
ON public.profiles FOR SELECT
USING (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Add profession field to profiles (for health professionals)
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS profession text;

-- Add modality and IPS to appointments
ALTER TABLE public.appointments ADD COLUMN IF NOT EXISTS modality text DEFAULT 'centro_salud';
ALTER TABLE public.appointments ADD COLUMN IF NOT EXISTS ips text;

-- Add IPS to profiles (for health professionals)
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS ips text;

-- Update app_role enum to keep 'doctor' internally but we'll display it as "Profesional de la Salud" in UI
-- No enum change needed since 'doctor' role already exists and works

-- Comment: profession values will be: medico, enfermera, odontologo, auxiliar_enfermeria
-- Comment: modality values will be: centro_salud, domiciliaria, telemedicina

-- Allow doctors to insert appointments for their assigned patients
CREATE POLICY "Doctors can create appointments for patients"
ON public.appointments
FOR INSERT
WITH CHECK (
  has_role(auth.uid(), 'doctor'::app_role) 
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Allow doctors to update appointments for their assigned patients
CREATE POLICY "Doctors can update patient appointments"
ON public.appointments
FOR UPDATE
USING (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS professional_id text DEFAULT NULL;
ALTER TABLE public.profiles ADD COLUMN specialties text[] DEFAULT '{}'::text[];

-- Clinical notes table: doctors write notes on their patients
CREATE TABLE public.clinical_notes (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  doctor_id UUID NOT NULL,
  patient_id UUID NOT NULL,
  content TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.clinical_notes ENABLE ROW LEVEL SECURITY;

-- Doctors can manage notes they created for their assigned patients
CREATE POLICY "Doctors manage own clinical notes"
  ON public.clinical_notes
  FOR ALL
  TO authenticated
  USING (
    doctor_id = auth.uid()
    AND patient_id IN (
      SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
    )
  )
  WITH CHECK (
    doctor_id = auth.uid()
    AND patient_id IN (
      SELECT patient_id FROM public.doctor_patients WHERE doctor_id = auth.uid()
    )
  );

CREATE POLICY "Patients can view own clinical notes"
  ON public.clinical_notes
  FOR SELECT
  TO authenticated
  USING (patient_id = auth.uid());

-- Add category enum and column to clinical_notes
CREATE TYPE public.clinical_note_category AS ENUM ('evolucion', 'interconsulta', 'plan_manejo', 'educacion', 'otro');

ALTER TABLE public.clinical_notes
  ADD COLUMN category public.clinical_note_category NOT NULL DEFAULT 'evolucion';

CREATE OR REPLACE FUNCTION public.get_doctor_kpis(_doctor_id uuid)
RETURNS jsonb
LANGUAGE plpgsql
STABLE
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  _result jsonb;
  _patient_ids uuid[];
  _total_patients int;
  _completed int;
  _cancelled int;
  _scheduled int;
  _completion_rate int;
  _active_alerts int := 0;
  _critical_alerts int := 0;
  _avg_adherence int := 0;
  _patient_adherence jsonb := '[]'::jsonb;
  _appointments_by_month jsonb := '[]'::jsonb;
  _alerts_by_type jsonb := '[]'::jsonb;
  _seven_days_ago date;
  _bp_alerts int := 0;
  _glucose_alerts int := 0;
  _bmi_alerts int := 0;
  _med_alerts int := 0;
  _rec record;
BEGIN
  -- 1. Get assigned patient IDs
  SELECT array_agg(patient_id) INTO _patient_ids
  FROM doctor_patients WHERE doctor_id = _doctor_id;

  IF _patient_ids IS NULL THEN
    RETURN jsonb_build_object(
      'totalPatients', 0, 'appointmentsScheduled', 0,
      'appointmentsCompleted', 0, 'appointmentsCancelled', 0,
      'appointmentsCompletionRate', 0, 'activeAlerts', 0,
      'criticalAlerts', 0, 'avgAdherence', 0,
      'patientAdherenceList', '[]'::jsonb,
      'appointmentsByMonth', '[]'::jsonb,
      'alertsByType', '[]'::jsonb
    );
  END IF;

  _total_patients := array_length(_patient_ids, 1);

  -- 2. Appointment KPIs
  SELECT
    coalesce(sum(case when status = 'completed' then 1 else 0 end), 0),
    coalesce(sum(case when status = 'cancelled' then 1 else 0 end), 0),
    coalesce(sum(case when status in ('scheduled','rescheduled') then 1 else 0 end), 0)
  INTO _completed, _cancelled, _scheduled
  FROM appointments WHERE user_id = ANY(_patient_ids);

  IF (_completed + _cancelled + _scheduled) > 0 THEN
    _completion_rate := round((_completed::numeric / (_completed + _cancelled + _scheduled)) * 100);
  ELSE
    _completion_rate := 0;
  END IF;

  -- 3. Appointments by month (last 6 months)
  SELECT coalesce(jsonb_agg(row_to_json(m)::jsonb ORDER BY m.month_start), '[]'::jsonb)
  INTO _appointments_by_month
  FROM (
    SELECT
      to_char(gs, 'Mon YY') as month,
      gs as month_start,
      coalesce(sum(case when a.status = 'completed' then 1 else 0 end), 0) as completed,
      coalesce(sum(case when a.status = 'cancelled' then 1 else 0 end), 0) as cancelled,
      coalesce(sum(case when a.status in ('scheduled','rescheduled') then 1 else 0 end), 0) as scheduled
    FROM generate_series(
      date_trunc('month', now()) - interval '5 months',
      date_trunc('month', now()),
      interval '1 month'
    ) gs
    LEFT JOIN appointments a ON a.user_id = ANY(_patient_ids)
      AND date_trunc('month', a.appointment_date) = gs
    GROUP BY gs
  ) m;

  -- 4. Adherence per patient (last 7 days)
  _seven_days_ago := current_date - 7;

  WITH patient_adherence AS (
    SELECT
      p.user_id as pid,
      p.full_name as name,
      coalesce(sum(array_length(med.times, 1)), 0) * 7 as expected,
      coalesce((
        SELECT count(*)
        FROM medication_logs ml
        WHERE ml.user_id = p.user_id
          AND ml.taken_at IS NOT NULL
          AND ml.log_date >= _seven_days_ago
          AND ml.medication_id IN (SELECT id FROM medications WHERE user_id = p.user_id AND active = true)
      ), 0) as taken
    FROM profiles p
    JOIN medications med ON med.user_id = p.user_id AND med.active = true
    WHERE p.user_id = ANY(_patient_ids)
    GROUP BY p.user_id, p.full_name
  )
  SELECT
    coalesce(jsonb_agg(
      jsonb_build_object('name', pa.name, 'adherence', 
        CASE WHEN pa.expected > 0 THEN LEAST(100, round((pa.taken::numeric / pa.expected) * 100)) ELSE 0 END
      ) ORDER BY CASE WHEN pa.expected > 0 THEN (pa.taken::numeric / pa.expected) ELSE 0 END
    ), '[]'::jsonb),
    CASE WHEN count(*) > 0 THEN round(avg(
      CASE WHEN pa.expected > 0 THEN LEAST(100, (pa.taken::numeric / pa.expected) * 100) ELSE 0 END
    )) ELSE 0 END
  INTO _patient_adherence, _avg_adherence
  FROM patient_adherence pa;

  -- 5. Clinical alerts
  -- BP alerts
  FOR _rec IN
    SELECT DISTINCT ON (user_id) user_id, systolic, diastolic
    FROM blood_pressure_readings
    WHERE user_id = ANY(_patient_ids)
    ORDER BY user_id, measurement_time DESC
  LOOP
    IF _rec.systolic >= 140 OR _rec.systolic < 90 OR _rec.diastolic >= 90 OR _rec.diastolic < 60 THEN
      _active_alerts := _active_alerts + 1;
      _bp_alerts := _bp_alerts + 1;
      IF _rec.systolic >= 160 OR _rec.diastolic >= 100 THEN
        _critical_alerts := _critical_alerts + 1;
      END IF;
    END IF;
  END LOOP;

  -- Glucose alerts
  FOR _rec IN
    SELECT DISTINCT ON (user_id) user_id, value
    FROM glucose_readings
    WHERE user_id = ANY(_patient_ids)
    ORDER BY user_id, measurement_time DESC
  LOOP
    IF _rec.value > 180 OR _rec.value < 70 THEN
      _active_alerts := _active_alerts + 1;
      _glucose_alerts := _glucose_alerts + 1;
      IF _rec.value > 250 OR _rec.value < 54 THEN
        _critical_alerts := _critical_alerts + 1;
      END IF;
    END IF;
  END LOOP;

  -- BMI alerts
  FOR _rec IN
    SELECT DISTINCT ON (user_id) user_id, bmi
    FROM weight_records
    WHERE user_id = ANY(_patient_ids) AND bmi IS NOT NULL
    ORDER BY user_id, measurement_date DESC
  LOOP
    IF _rec.bmi >= 30 OR _rec.bmi < 18.5 THEN
      _active_alerts := _active_alerts + 1;
      _bmi_alerts := _bmi_alerts + 1;
      IF _rec.bmi >= 35 OR _rec.bmi < 16 THEN
        _critical_alerts := _critical_alerts + 1;
      END IF;
    END IF;
  END LOOP;

  -- Medication non-adherence alerts (no log in 24h)
  SELECT count(*) INTO _med_alerts
  FROM (
    SELECT DISTINCT m.user_id
    FROM medications m
    WHERE m.user_id = ANY(_patient_ids) AND m.active = true
    AND NOT EXISTS (
      SELECT 1 FROM medication_logs ml
      WHERE ml.user_id = m.user_id
        AND ml.taken_at IS NOT NULL
        AND ml.taken_at >= now() - interval '24 hours'
    )
  ) sub;
  _active_alerts := _active_alerts + _med_alerts;

  -- Build alerts by type
  SELECT coalesce(jsonb_agg(jsonb_build_object('type', t.type, 'count', t.count)), '[]'::jsonb)
  INTO _alerts_by_type
  FROM (
    SELECT * FROM (VALUES
      ('PresiÃ³n arterial', _bp_alerts),
      ('Glucosa', _glucose_alerts),
      ('IMC', _bmi_alerts),
      ('Medicamentos', _med_alerts)
    ) AS v(type, count)
    WHERE count > 0
  ) t;

  RETURN jsonb_build_object(
    'totalPatients', _total_patients,
    'appointmentsScheduled', _scheduled,
    'appointmentsCompleted', _completed,
    'appointmentsCancelled', _cancelled,
    'appointmentsCompletionRate', _completion_rate,
    'activeAlerts', _active_alerts,
    'criticalAlerts', _critical_alerts,
    'avgAdherence', _avg_adherence,
    'patientAdherenceList', _patient_adherence,
    'appointmentsByMonth', _appointments_by_month,
    'alertsByType', _alerts_by_type
  );
END;
$$;

-- Create sedes table (IPS + municipality)
CREATE TABLE public.sedes (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  nombre text NOT NULL,
  municipio text NOT NULL,
  departamento text NOT NULL,
  direccion text,
  telefono text,
  created_at timestamptz NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.sedes ENABLE ROW LEVEL SECURITY;

-- All authenticated users can read sedes
CREATE POLICY "Authenticated users can view sedes"
ON public.sedes FOR SELECT TO authenticated
USING (true);

-- Only admins can manage sedes
CREATE POLICY "Admins can manage sedes"
ON public.sedes FOR ALL TO authenticated
USING (public.has_role(auth.uid(), 'admin'))
WITH CHECK (public.has_role(auth.uid(), 'admin'));

-- Add sede_id to profiles
ALTER TABLE public.profiles ADD COLUMN sede_id uuid REFERENCES public.sedes(id);

CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  _role app_role;
  _sede_id uuid;
BEGIN
  _role := COALESCE(
    (NEW.raw_user_meta_data->>'role')::app_role,
    'patient'
  );

  _sede_id := (NEW.raw_user_meta_data->>'sede_id')::uuid;

  INSERT INTO public.profiles (user_id, full_name, sede_id)
  VALUES (
    NEW.id,
    COALESCE(NEW.raw_user_meta_data->>'full_name', 'Usuario'),
    _sede_id
  );
  
  INSERT INTO public.user_roles (user_id, role)
  VALUES (NEW.id, _role);
  
  RETURN NEW;
END;
$$;
-- Allow anonymous users to read sedes during registration
CREATE POLICY "Anonymous users can view sedes"
ON public.sedes FOR SELECT TO anon
USING (true);
CREATE POLICY "Doctors can manage sedes"
ON public.sedes
FOR ALL
TO authenticated
USING (has_role(auth.uid(), 'doctor'::app_role))
WITH CHECK (has_role(auth.uid(), 'doctor'::app_role));

-- Allow doctors to insert medications for their patients
CREATE POLICY "Doctors can insert medications for patients"
ON public.medications
FOR INSERT
TO public
WITH CHECK (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Allow doctors to update medications for their patients
CREATE POLICY "Doctors can update medications for patients"
ON public.medications
FOR UPDATE
TO public
USING (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Create notification_logs table for simulated WhatsApp notifications
CREATE TABLE public.notification_logs (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id uuid NOT NULL,
  medication_id uuid REFERENCES public.medications(id) ON DELETE CASCADE,
  scheduled_time text NOT NULL,
  notification_type text NOT NULL DEFAULT 'whatsapp',
  message text NOT NULL,
  sent_at timestamp with time zone NOT NULL DEFAULT now(),
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.notification_logs ENABLE ROW LEVEL SECURITY;

-- Patients can view their own notifications
CREATE POLICY "Users view own notifications"
ON public.notification_logs
FOR SELECT
TO public
USING (auth.uid() = user_id);

-- Doctors can view notifications for their patients
CREATE POLICY "Doctors view patient notifications"
ON public.notification_logs
FOR SELECT
TO public
USING (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Service role inserts (for edge function or system)
CREATE POLICY "Service can insert notifications"
ON public.notification_logs
FOR INSERT
TO public
WITH CHECK (true);
ALTER TABLE public.clinical_documents ADD COLUMN read_by_patient boolean NOT NULL DEFAULT false;
-- Add doctor_id to clinical_documents to track who uploaded
ALTER TABLE public.clinical_documents ADD COLUMN doctor_id uuid;

-- Allow doctors to INSERT clinical documents for their assigned patients
CREATE POLICY "Doctors can insert clinical documents for patients"
ON public.clinical_documents
FOR INSERT
WITH CHECK (
  has_role(auth.uid(), 'doctor'::app_role) 
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Allow doctors to UPDATE clinical documents they uploaded
CREATE POLICY "Doctors can update own clinical documents"
ON public.clinical_documents
FOR UPDATE
USING (
  has_role(auth.uid(), 'doctor'::app_role) 
  AND doctor_id = auth.uid()
);

-- Storage policies for clinical-documents bucket
-- Doctors can upload files for their patients
CREATE POLICY "Doctors can upload clinical documents"
ON storage.objects
FOR INSERT
WITH CHECK (
  bucket_id = 'clinical-documents'
  AND has_role(auth.uid(), 'doctor'::app_role)
);

-- Doctors can view clinical documents of their patients
CREATE POLICY "Doctors can view clinical documents"
ON storage.objects
FOR SELECT
USING (
  bucket_id = 'clinical-documents'
  AND (
    auth.uid()::text = (storage.foldername(name))[1]
    OR has_role(auth.uid(), 'doctor'::app_role)
  )
);

-- Patients can view/download their own clinical documents
CREATE POLICY "Patients can view own clinical documents"
ON storage.objects
FOR SELECT
USING (
  bucket_id = 'clinical-documents'
  AND auth.uid()::text = (storage.foldername(name))[1]
);

-- Allow doctors to insert conditions for their assigned patients
CREATE POLICY "Doctors can insert patient conditions"
ON public.patient_conditions
FOR INSERT
TO public
WITH CHECK (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Allow doctors to update conditions for their assigned patients
CREATE POLICY "Doctors can update patient conditions"
ON public.patient_conditions
FOR UPDATE
TO public
USING (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Allow doctors to delete conditions for their assigned patients
CREATE POLICY "Doctors can delete patient conditions"
ON public.patient_conditions
FOR DELETE
TO public
USING (
  has_role(auth.uid(), 'doctor'::app_role)
  AND user_id IN (
    SELECT patient_id FROM doctor_patients WHERE doctor_id = auth.uid()
  )
);

-- Add new programs array column
ALTER TABLE public.profiles ADD COLUMN programs text[] DEFAULT '{}';

-- Migrate existing data from program to programs
UPDATE public.profiles
SET programs = CASE
  WHEN program IS NOT NULL AND program != 'otro' THEN ARRAY[program::text]
  ELSE '{}'
END;

-- Drop old program column
ALTER TABLE public.profiles DROP COLUMN program;
ALTER TABLE public.patient_conditions ADD COLUMN cie10_code text;
CREATE OR REPLACE FUNCTION public.get_doctor_reports(_doctor_id uuid, _days int DEFAULT 30)
RETURNS jsonb
LANGUAGE plpgsql
STABLE SECURITY DEFINER
SET search_path TO 'public'
AS $$
DECLARE
  _patient_ids uuid[];
  _since timestamptz;
  _since_date date;
  _scheduled int := 0;
  _completed int := 0;
  _cancelled int := 0;
  _rescheduled int := 0;
  _total_appts int := 0;
  _adherence_by_patient jsonb := '[]'::jsonb;
  _avg_adherence int := 0;
  _meds_by_program jsonb := '[]'::jsonb;
BEGIN
  IF auth.uid() <> _doctor_id OR NOT has_role(auth.uid(), 'doctor'::app_role) THEN
    RAISE EXCEPTION 'Unauthorized';
  END IF;

  _since := now() - (_days || ' days')::interval;
  _since_date := (current_date - _days);

  SELECT array_agg(patient_id) INTO _patient_ids
  FROM doctor_patients WHERE doctor_id = _doctor_id;

  IF _patient_ids IS NULL OR array_length(_patient_ids, 1) IS NULL THEN
    RETURN jsonb_build_object(
      'rangeDays', _days,
      'totalPatients', 0,
      'appointments', jsonb_build_object('scheduled',0,'completed',0,'cancelled',0,'rescheduled',0,'total',0,
        'completionRate',0,'cancellationRate',0,'rescheduleRate',0),
      'avgAdherence', 0,
      'adherenceByPatient', '[]'::jsonb,
      'medsByProgram', '[]'::jsonb
    );
  END IF;

  -- Appointments in range
  SELECT
    coalesce(sum(case when status in ('scheduled') then 1 else 0 end),0),
    coalesce(sum(case when status = 'completed' then 1 else 0 end),0),
    coalesce(sum(case when status = 'cancelled' then 1 else 0 end),0),
    coalesce(sum(case when status = 'rescheduled' then 1 else 0 end),0)
  INTO _scheduled, _completed, _cancelled, _rescheduled
  FROM appointments
  WHERE user_id = ANY(_patient_ids) AND appointment_date >= _since;

  _total_appts := _scheduled + _completed + _cancelled + _rescheduled;

  -- Adherence per patient (range)
  WITH pa AS (
    SELECT
      p.user_id as pid,
      p.full_name as name,
      coalesce(p.programs, '{}'::text[]) as programs,
      coalesce(sum(array_length(med.times,1)),0) * _days as expected,
      coalesce((
        SELECT count(*) FROM medication_logs ml
        WHERE ml.user_id = p.user_id
          AND ml.taken_at IS NOT NULL
          AND ml.log_date >= _since_date
          AND ml.medication_id IN (SELECT id FROM medications WHERE user_id = p.user_id AND active = true)
      ),0) as taken
    FROM profiles p
    LEFT JOIN medications med ON med.user_id = p.user_id AND med.active = true
    WHERE p.user_id = ANY(_patient_ids)
    GROUP BY p.user_id, p.full_name, p.programs
  )
  SELECT
    coalesce(jsonb_agg(jsonb_build_object(
      'patientId', pid,
      'name', name,
      'programs', programs,
      'expected', expected,
      'taken', taken,
      'adherence', CASE WHEN expected > 0 THEN LEAST(100, round((taken::numeric/expected)*100)) ELSE 0 END
    ) ORDER BY name), '[]'::jsonb),
    CASE WHEN count(*) FILTER (WHERE expected > 0) > 0
      THEN round(avg(CASE WHEN expected > 0 THEN LEAST(100,(taken::numeric/expected)*100) ELSE NULL END))
      ELSE 0 END
  INTO _adherence_by_patient, _avg_adherence
  FROM pa;

  -- Meds by program
  WITH unnested AS (
    SELECT unnest(coalesce(p.programs,'{}'::text[])) as program, p.user_id
    FROM profiles p WHERE p.user_id = ANY(_patient_ids)
  ),
  by_prog AS (
    SELECT
      u.program,
      count(DISTINCT u.user_id) as patients,
      coalesce(sum(array_length(med.times,1)),0) * _days as expected,
      coalesce((
        SELECT count(*) FROM medication_logs ml
        WHERE ml.user_id IN (SELECT user_id FROM unnested WHERE program = u.program)
          AND ml.taken_at IS NOT NULL
          AND ml.log_date >= _since_date
      ),0) as taken
    FROM unnested u
    LEFT JOIN medications med ON med.user_id = u.user_id AND med.active = true
    GROUP BY u.program
  )
  SELECT coalesce(jsonb_agg(jsonb_build_object(
    'program', program,
    'patients', patients,
    'expected', expected,
    'taken', taken,
    'adherence', CASE WHEN expected > 0 THEN LEAST(100, round((taken::numeric/expected)*100)) ELSE 0 END
  ) ORDER BY program), '[]'::jsonb)
  INTO _meds_by_program FROM by_prog;

  RETURN jsonb_build_object(
    'rangeDays', _days,
    'totalPatients', array_length(_patient_ids,1),
    'appointments', jsonb_build_object(
      'scheduled', _scheduled,
      'completed', _completed,
      'cancelled', _cancelled,
      'rescheduled', _rescheduled,
      'total', _total_appts,
      'completionRate', CASE WHEN _total_appts>0 THEN round((_completed::numeric/_total_appts)*100) ELSE 0 END,
      'cancellationRate', CASE WHEN _total_appts>0 THEN round((_cancelled::numeric/_total_appts)*100) ELSE 0 END,
      'rescheduleRate', CASE WHEN _total_appts>0 THEN round((_rescheduled::numeric/_total_appts)*100) ELSE 0 END
    ),
    'avgAdherence', _avg_adherence,
    'adherenceByPatient', _adherence_by_patient,
    'medsByProgram', _meds_by_program
  );
END;
$$;
